
.icon-tumblr:before { content: '\e800'; } /* '' */
.icon-instagramm:before { content: '\e801'; } /* '' */
.icon-youtube:before { content: '\e802'; } /* '' */
.icon-twitter:before { content: '\e803'; } /* '' */
.icon-facebook-squared:before { content: '\e804'; } /* '' */
.icon-linkedin:before { content: '\e805'; } /* '' */
.icon-left-open:before { content: '\e806'; } /* '' */