html, body {
    background:url('../img/bg.png') repeat-x;
}

/* fonts */
@font-face {
    font-family: 'FrutigerLTStd65Bold';
    src: url('../fonts/frutigerltstd-bold.eot');
    src: url('../fonts/frutigerltstd-bold.eot') format('embedded-opentype'),
         url('../fonts/frutigerltstd-bold.woff') format('woff'),
         url('../fonts/frutigerltstd-bold.ttf') format('truetype'),
         url('../fonts/frutigerltstd-bold.svg#FrutigerLTStd65Bold') format('svg');
}

@font-face {
    font-family: 'ChunkFiveRoman';
    src: url('../fonts/chunkfive.eot');
    src: url('../fonts/chunkfive.eot') format('embedded-opentype'),
         url('../fonts/chunkfive.woff2') format('woff2'),
         url('../fonts/chunkfive.woff') format('woff'),
         url('../fonts/chunkfive.ttf') format('truetype'),
         url('../fonts/chunkfive.svg#ChunkFiveRoman') format('svg');
}

@font-face {
    font-family: 'HelveticaNeueLTStd35Thin';
    src: url('../fonts/helveticaneueltstd-th.eot');
    src: url('../fonts/helveticaneueltstd-th.eot') format('embedded-opentype'),
         url('../fonts/helveticaneueltstd-th.woff2') format('woff2'),
         url('../fonts/helveticaneueltstd-th.woff') format('woff'),
         url('../fonts/helveticaneueltstd-th.ttf') format('truetype'),
         url('../fonts/helveticaneueltstd-th.svg#HelveticaNeueLTStd35Thin') format('svg');
}

@font-face {
    font-family: 'HelveticaNeueLTStd45Light';
    src: url('../fonts/helveticaneueltstd-lt.eot');
    src: url('../fonts/helveticaneueltstd-lt.eot') format('embedded-opentype'),
         url('../fonts/helveticaneueltstd-lt.woff2') format('woff2'),
         url('../fonts/helveticaneueltstd-lt.woff') format('woff'),
         url('../fonts/helveticaneueltstd-lt.ttf') format('truetype'),
         url('../fonts/helveticaneueltstd-lt.svg#HelveticaNeueLTStd45Light') format('svg');
}

@font-face {
    font-family: 'HelveticaLTStdLight';
    src: url('../fonts/helveticaltstd-light.eot');
    src: url('../fonts/helveticaltstd-light.eot') format('embedded-opentype'),
         url('../fonts/helveticaltstd-light.woff2') format('woff2'),
         url('../fonts/helveticaltstd-light.woff') format('woff'),
         url('../fonts/helveticaltstd-light.ttf') format('truetype'),
         url('../fonts/helveticaltstd-light.svg#HelveticaLTStdLight') format('svg');
}

@font-face {
    font-family: 'FrutigerLTStd67BoldCondensed';
    src: url('../fonts/frutigerltstd-boldcn.eot');
    src: url('../fonts/frutigerltstd-boldcn.eot') format('embedded-opentype'),
         url('../fonts/frutigerltstd-boldcn.woff2') format('woff2'),
         url('../fonts/frutigerltstd-boldcn.woff') format('woff'),
         url('../fonts/frutigerltstd-boldcn.ttf') format('truetype'),
         url('../fonts/frutigerltstd-boldcn.svg#FrutigerLTStd67BoldCondensed') format('svg');
}


/* global */
.fullWidth {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: initial;
}

h1, h2, h3, h4, h5 {font-family: 'ChunkFiveRoman';font-weight:normal;color:#5a5a54;margin:0;}
h5 {font-size:1rem;}
.helvetica {font-family: 'HelveticaLTStdLight';}
.uppercase {text-transform:uppercase;}
p, span {font-family: 'HelveticaLTStdLight';color:#5a5a54;font-size:1em;line-height:1.25em;}
blockquote {font-family: 'HelveticaLTStdLight';font-style:italic;font-size:.75em;line-height:1.2em;padding:0;margin:0;border:none;}
blockquote span {display:block;text-align:right;}
.quote-team-single blockquote {font-family: 'ChunkFiveRoman';font-style:normal;color:#5a5a54;font-size:1.2em;}
.quote-team-single span {text-transform:uppercase;font-size:0.8em;}
a {-webkit-transition:color .25s ease-in;
    -moz-transition:color .25s ease-in;
    -o-transition:color .25s ease-in;
    transition:color .25s ease-in;}
ul {margin:0;}
ul li {list-style-type:none;}
select {margin:0 0 .5rem 0;height:2rem;}
button {font-family: 'ChunkFiveRoman';}

/* dropshadow */
.dropshadow {
    -webkit-box-shadow: 0px 0px 35px 2px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 0px 35px 2px rgba(0,0,0,0.6);
    box-shadow: 0px 0px 35px 2px rgba(0,0,0,0.6);
}
.dropshadow-light {
    -webkit-box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.4);
}
.dropshadow-extra-light {
    -webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.4);
}

/* circle */
.circle, .circle-our-team, .circle-team-photos {
    float:left;
    display:block;
  	width: 125px;
  	height: 125px;
  	-moz-border-radius: 65px;
  	-webkit-border-radius: 65px;
  	border-radius: 65px;
    color:#fff;
    margin-right:20px;
    /*margin-top:25px;*/
    background:#fff;
}
.circle-team-photos, .circle-our-team {
    width: 150px;
  	height: 150px;
  	-moz-border-radius: 80px;
  	-webkit-border-radius: 80px;
  	border-radius: 80px;
}
.circle:first-child, .circle-our-team:first-child {margin-left:36px;}
.circle-team {
    display:inline-block;
    width: 125px;
    height: 125px;
    -moz-border-radius: 65px;
    -webkit-border-radius: 65px;
    border-radius: 65px;
    color:#fff;
    margin-right:25px;
    /*margin-top:25px;*/
    background:#fff;
}
.circle-team {
    width:50px;
    height:50px;
    -moz-border-radius:25px;
    -webkit-border-radius:25px;
    border-radius:25px;
    border:2px solid #5a5a54;    
    margin:0;
}  
.circle a, .circle-team a, .circle-our-team a {
    -webkit-transition:background-color .50s ease-in;
    -moz-transition:background-color .50s ease-in;
    -o-transition:background-color .50s ease-in;
    transition:background-color .50s ease-in;
}
.circle span, .circle-our-team span {
    display:inline-block;
    width:115px;
    color:#fff;
    text-transform:uppercase;
    font-weight:normal;
    text-align:center;
    font-size:.85em;
    padding:40px 0;
}
.circle-our-team span {width:140px;padding:60px 0;}

.circle.red, .circle-our-team.red {background-color:#c92129;border:5px solid #fff;}
.circle.red span, .circle-our-team.red span {color:#fff;}
.circle.red:hover span, .circle-our-team.red:hover span {color:#c92129;}
.circle.red:hover, .circle-our-team.red:hover {background-color:#fff;border:5px solid #c92129;}

.circle.blue {background-color:#62b9e8;border:5px solid #fff;}
.circle.blue span {color:#fff;}
.circle.blue:hover span {color:#62b9e8;}
.circle.blue:hover {background-color:#fff;border:5px solid #62b9e8;}

.circle.green {background-color:#2d9f38;border:5px solid #fff;}
.circle.green span {color:#fff;}
.circle.green:hover span {color:#2d9f38;}
.circle.green:hover {background-color:#fff;border:5px solid #2d9f38;}

.circle.purple {background-color:#860083;border:5px solid #fff;}
.circle.purple span {color:#fff;}
.circle.purple:hover span {color:#860083;}
.circle.purple:hover {background-color:#fff;border:5px solid #860083;}

.circle.orange {background-color:#f5831f;border:5px solid #fff;}
.circle.orange span {color:#fff;}
.circle.orange:hover span {color:#f5831f;}
.circle.orange:hover {background-color:#fff;border:5px solid #f5831f;}

#download-brochure .row .columns, #resume .row .columns {padding:0;}
#download-brochure form, #resume form {margin:15px 0 0 0;}
#download-brochure form input, #resume form input {font-family: 'HelveticaLTStdLight';}

.tabs.vertical, .tabs.vertical {width:100%;max-width:100%;margin-top:15px;}
.team li a, .tabs dd a {font-family: 'FrutigerLTStd67BoldCondensed';text-transform:uppercase;color:#5a5a54;font-size:.95em;outline:none;}
.team li.active a, .team li.active a, .tabs dd.active a, .tabs .tab-title.active a {background:#e6f5f8;}    
.team li > a, .team li > a, .tabs dd > a, .tabs .tab-title > a {padding:7px 10px;margin-bottom:10px;background:none;}
.team, .tabs.vertical.team-nav {margin-top:0;}
.team li span, .tabs.vertical.team-nav dd span {display:inline-block;vertical-align:text-top;margin-top:-20px;padding-left:6px;}
.team a, .tabs.team-nav dd > a {font-family: 'FrutigerLTStd67BoldCondensed';padding:0;margin-bottom:0px;}
.tabs-content {margin-bottom:0;padding:0;}
.tabs-content .content {padding:15px 20px 0 20px;max-width:643px;}
.tabs-content #panel0.content {padding:0;line-height:0;}
.tabs-content.team-content span {display:block;width:100%;}
.tabs-content.team-content .links {font-size:.8em;margin:10px 0;}
.tabs-content.team-content p {font-size:.8em;}

/* colors */
.blue {color:#aedfe5;}

/* header */
#header {margin-bottom:20px;padding-bottom:10px;background: rgba(255,255,255,0.80);position:relative;z-index:2;}
#header #menu-main-navigation {
    font-family: 'FrutigerLTStd65Bold';
    font-size:16px;
    color:#8c8c85;
    text-transform:uppercase;
    list-style:none;
    margin-top:25px;
}
#header #menu-main-navigation li {
    display:inline-block;
    border-right:1px solid #8c8c85;
    padding:0 14px;
    margin:0;
}
#header #menu-main-navigation li:last-child {border:none;}
#header #menu-main-navigation li a {color:#8c8c85;}
#header #menu-main-navigation li a:hover, #header #menu-main-navigation li.current-menu-item a {color:#000;}

/* primary */
#primary-cont {}
#primary-cont .sidebar {min-height:425px;padding:0.9em;margin-top:25px;background: rgba(255,255,255,0.9);}
#primary-cont .sidebar ul li {font-size:.8em;font-family: 'HelveticaLTStdLight';color:#5a5a54;}
#primary-cont .stage {float:left;max-width:655px;min-height:470px;border:6px solid #5a5a54;padding:0;margin:0;background:#fff;}

/* secondary */
#secondary-cont {background:#fff;margin-top:40px;}
#secondary-cont .buzz {border:5px solid #aedfe5;padding:10px 10px;}
#secondary-cont .buzz h5 {color:#5a5a54;}
#secondary-cont .buzz ul li {font-size:0.75em;}

#footer {}
#footer p {font-family: 'FrutigerLTStd67BoldCondensed';font-size:.75em;margin:5px 0;}

#services ul.services {width:100%;font-size:1.05em;font-family: 'HelveticaLTStdLight';color:#5a5a54;list-style-position:inside;}
#services ul.services li {width:100%;list-style-type: disc;font-size:1em;line-height:20px;list-style-position:inside;float:left;padding-left: 1em;text-indent: -1em;margin-bottom:10px;}
#services ul.services li img {border:4px solid #5a5a54;}

.bug img {cursor:pointer;}
.bug-description {
  width:200px;
  font-family: 'FrutigerLTStd67BoldCondensed';font-size:.9em;
  -webkit-box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.4);
  box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.4);
}

select {height:40px;cursor:pointer;}
#social {margin-top:-10px;}
#social a {                                                
    background-color:#afdfe4;
    -moz-border-radius: 35px;
  	-webkit-border-radius: 35px;
  	border-radius: 35px;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.4);
    margin-right:6px;
    padding:0px 5px 5px 5px;
    display:inline-block;
    width:25px;
    height:25px;
}
#bg-logo {
background:url('../img/sm-big-logo.png') no-repeat;
min-height:100% !important;
min-width:100% !important;
position:absolute;
background-position-x:15%;
}

.bug-facts {font-size:0.75em;line-height:1.2em;color:#fff;}
.red-bg {background-color:#c5201a;padding:10px 10px;}

.quick-facts strong {display:inline-block;margin-bottom:6px;}